.textGradient1 {
	background: -webkit-linear-gradient(bottom right, #30FFAA, #009BDB);
	background: linear-gradient(bottom right, #30FFAA, #009BDB);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight:light;
}

.textGradient2 {
	background: -webkit-linear-gradient(bottom right, #00A691, #009BB3);
	background: linear-gradient(bottom right, #00A691, #009BB3);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.font16 {
  font-size:16px !important;
}

.font26 {
  font-size:26px !important;
}

.font36 {
  font-size:36px !important;
}

.font46 {
  font-size:46px !important;
}

.bold {
  font-weight: bold
}

.pcolor {
  color:#CFEFEC
}